html {
	height: 100%;
}

body {
	margin: 0;
	padding: 5px;
	height: 100%;
	background-color: #ffffff;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	COLOR: #516373;
	FONT-SIZE: 10pt;
}

#wrap {
	min-height: 100%;
	position: relative;
}

* html #wrap {
	height: 100%
}

#inner-wrap {
	padding-bottom: 80px;
}

#inner-wrap:after {
	content: " ";
	display: block;
	clear: both;
}

* html #inner-wrap {
	height: 1px;
}

p {
	margin: 5px;
	padding: 0;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	COLOR: #516373;
	FONT-SIZE: 10pt;
}

h1 {
	position: relative;
	line-height: 80px;
	margin: 0;
	padding-left: 20px;
}

#left {
	float: left;
	width: 200px;
	text-align: center;
	background-color: #ffffff;
}

#content {
	padding: 5px;
	margin: auto 5px auto 200px;
	text-align: left;
	position: relative;
}

#footer {
	position: absolute;
	bottom: 0;
	height: 80px;
	background-color: #ddd;
	width: 100%;
	color: #516373;
	text-align: right;
}

#footer p {
	margin: 0;
	font-size: 1.5em;
	text-align: center;
}

#header {
	background-position: right;
	background-repeat: no-repeat;
	background-color: #ffffff;
	color: #109DFF;
	margin: 0;
	padding: 0px 0px 5px;
	height: 60px;
	text-align: center;
}

#menu {
	position: relative;
	padding: 10px;
}

ul#navmenu {
	width: 180px;
	margin: 5 5 5 5;
	padding: 0;
	list-style-type: none;
	height: 100%;
	text-align: center;
	border: 1px solid white;
	background-color: white;
}

#navmenu li {
	margin: 0;
	display: block;
	border-bottom: 1px solid white;
	padding: 0;
}

#navmenu li #bottom {
	border-bottom: none;
}

#navmenu li a {
	display: block;
	text-decoration: none;
	line-height: 25px;
}

* html #navmenu li a {
	width: 100%;
}

* html #menu,* html #inner-wrap {
	height: 1px;
}

#navmenu li a:link, #navmenu li a:visited {
	color: #109DFF;
	font-size: 0.9em;
	font-weight: 500;
	background-color: #d9ecf9;
}

#navmenu li a:hover {
	color: white;
	background-color: #109DFF;
	display: block;
	font-weight: 900;
}

#navmenu li a:active {
	color: white;
	background-color: #109DFF;
}

#navmenu li input, #navmenu li form, #navmenu li#createbutton {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 30px;
}

A:link {
	FONT-SIZE: 10pt;
	COLOR: #109DFF;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}

A:visited {
	FONT-SIZE: 10pt;
	COLOR: #109DFF;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}

A:active {
	FONT-SIZE: 10pt;
	COLOR: #109DFF;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}

A:hover {
	FONT-SIZE: 10pt;
	COLOR: #516373;
	FONT-WEIGHT: bolder;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}

.logo_top-left {
	position: absolute;
	top: 5px;
	left: 1em;
	border: 0;
}

.logo_header {
	position: absolute;
	top: -55px;
	width: 100%;
}

.logo_top-right {
	position: absolute;
	top: 5px;
	right: 1em;
	border: 0;
}

ul#hnavlist {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
}

ul#hnavlist li {
	display: inline;
}

ul#hnavlist li a {
	float: left;
	color: #fff;
	padding: 0.2em 0.5em;
	height: 1em;
	text-decoration: none;
	border-right: 1px solid #109DFF;
	color: #109DFF;
	background-color: #fff;
}

ul#hnavlist li a:hover {
	background-color: #fff;
	color: navy;
}

.protocol {
	width: 100%;
	float: left;
	background-color: #FFFFFF;
	color: #109DFF;
	top: 3em;
	left: 0;
	margin: 2;
	padding: 0;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	COLOR: #516373;
	FONT-SIZE: 10pt;
}

div.protocol label {
	FONT-WEIGHT: bold;
}

.search {
	width: 180px;
	margin: 0 auto;
	padding: 0;
	background-color: #ffff;
	color: #109DFF;
	border: 1px solid 109DFF;
	line-height: 130%;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 10pt;
}

table {
	COLOR: #516373;
	background-color: white;
	FONT-SIZE: 10pt;
	MARGIN-TOP: 5px;
	MARGIN-LEFT: 0px;
	MARGIN-RIGHT: 0px;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	text-align: justify;
}

th {
	text-align: left;
}

label {
	COLOR: #516373;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}


.structureright {
	float: right;
	width: 153px;
	margin: 0 0 10px 10px;
	background-color: #fff;
	padding: 10px;


	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
}

div.structureright img {
	border-top: 2px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	border-left: 2px solid #fff;
}

.documentheader {
	color: #109DFF;
	background-color: #FFFFFF;
	padding: 1px;
	margin: 0 0 0 0;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 10pt;
}


.documentheader h3 {
	COLOR: #109DFF;
	background-color: #FFFFFF;
	FONT-SIZE: 11pt;
}


.documentheader h4 {
	COLOR: #516373;
	background-color: #FFFFFF;
	display: block;
	FONT-SIZE: 10pt;
}
.documentheader label {
	color: #109DFF;
	background-color: #FFFFFF;
	display: inline;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
}


.documentheader p {
	color: #109DFF;
	background-color: #FFFFFF;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 10pt;
}

.documentheader br {
	color: #109DFF;
	background-color: #FFFFFF;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 10pt;
}

.document {
	color: #109DFF;
	float: left;
	margin: 1 1 1 1;
	background-color: #fff;
	padding: 1px;
	border-top: 1px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-left: 1px solid #ddd;
}

.tabs {
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width:100%;
	min-height:100px;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 9pt;
}

.tabs-id {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.summary {
	margin: 0;
	padding: 0px;
	height: 100%;
	background-color: #ffffff;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	COLOR: #516373;
	FONT-SIZE: 8pt;
}

.summary A:active {
	COLOR: #109DFF;
	FONT-WEIGHT: bolder;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 8pt;
}

.summary  A:hover {
	COLOR: # #730FFF;
	FONT-WEIGHT: bolder;
	font-family: Frutiger, "Frutiger Linotype", Univers, "Droid Sans", Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans serif;
	FONT-SIZE: 8pt;
}
.summary h3 {
	font-weight: bold;
	FONT-SIZE: 10pt;
}

.summary li {
	FONT-SIZE: 8pt;
}

.summary table {
	FONT-SIZE: 8pt;
}


.summary ul {
	FONT-SIZE: 8pt;
}


.summary label {
	font-weight: bold;
}
